In [ ]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.capitalize()

"Hi! everyone, i'm kim"

In [ ]:
a.title()

In [3]:
a.upper()

"HI! EVERYONE, I'M KIM"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.lower()

In [ ]:
a.swapcase()

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.join('123')

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.replace('p', 'a')

In [ ]:
'apple'.replace('p', 'a', 1)

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'                    hi~'.strip()

In [ ]:
'              hi            '.strip()

In [ ]:
'         hi       '.rstrip()

In [ ]:
'         hi       '.lstrip()

In [ ]:
'안녕하세요^^'.rstrip('^^')

In [ ]:
# strip은 양쪽 끝의 문자열만 지움
'aabbaabbaa'.strip('aa')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
# 가장 처음 위치를 반환
'wow!'.find('w')

In [ ]:
# 없으면 -1 반환
'wow!'.find('a')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'wow!'.index('w')

In [ ]:
# 오류가 발생
'wow!'.index('a')

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'3 10'.split()

In [ ]:
'apple'.split('p')

In [ ]:
inputs = '3 10'
a, b = map(int, inputs.split())
print(a, b)

In [ ]:
'a_b_c'.split('_')

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
'a'.isalpha()

In [ ]:
'0'.isdigit()

In [ ]:
'0adfsdf'.isdigit()

In [ ]:
'ABCD'.isupper()

In [ ]:
dir('asdf')

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

In [ ]:
# 값을 추가해봅시다.
caffe.append('삼성화재연수원 카페')

In [ ]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
print(caffe)

In [ ]:
caffe.extend(['빽다방', '설빙'])
print(caffe)

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['드롭탑']
print(caffe)

In [ ]:
# append와 비교해봅시다.
caffe.append(['드롭탑'])
caffe

In [ ]:
caffe.extend('커피그루나무')
caffe

In [ ]:
a = '안녕하세요, 여러분'
result = []
result.extend(a)
result

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0, 'hi')

In [ ]:
caffe

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(-1, 'bye')

In [ ]:
caffe

In [ ]:
caffe.insert(len(caffe), 'good bye')

In [ ]:
caffe

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+1000, '안녕')

In [ ]:
caffe

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

In [ ]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [ ]:
numbers

In [ ]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [ ]:
numbers

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(0)

In [ ]:
a

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.
member = ['연용흠', '박태수', '염동환', '토마스']

In [ ]:
bye_member = member.pop()

In [ ]:
print(f'{bye_member}님 이용해주셔서 감사합니다.')

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3)

In [ ]:
a.index(10)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
# '_' '언더바' 메모리에 굳이 값을 넣어줄 필요가 없고 정해진 숫자만큼만 반복하도록 할 때
for _ in range(a.count(1)):
    a.remove(1)
print(a)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
1 in a

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

In [ ]:
# sort는 반환값이 None이고 원본 자체를 바꾸기 때문에, 아래처럼 작성하면 안된다.
lotto = lotto.sort()
print(lotto)

In [ ]:
# sorted()는 원본은 바꾸지 않지만, 정렬된 결과를 반환한다. 따라서 아래처럼 작성하면 안된다.
a = [1, 5, 3]
sorted(a)
print(a)

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

In [ ]:
classroom.reverse()

In [ ]:
print(classroom)

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copied_list = original_list
print(copied_list)

In [ ]:
# 복사한 리스트의 첫번째 원소의 값을 바꾸고 리스트들을 출력해봅시다.
copied_list[0] = '연용흠'

In [ ]:
copied_list

In [ ]:
original_list

In [ ]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))

In [ ]:
# 숫자를 확인해봅시다.
a = 3
b = a
b = 5

In [ ]:
print(a, b)

In [ ]:
# 딕셔너리도 확인해봅시다.
a = {'apple': '사과', 'banana': '바나나'}
b = a
b['apple'] = '맥북'
print(a, b)

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [ ]:
# 리스트를 복사해봅시다.
# 형변환을 통한 복사
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a, b)

In [4]:
# 다른 방법으로 복사해봅시다.
# 슬라이스를 통한 복사
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [6]:
a = [1, 2, 3]
b = a
b = [3] # 새로운 리스트를 만들어서 저장한 것이므로 영향X
print(a, b)

[1, 2, 3] [3]

In [ ]:
# 얕은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [8]:
# 2차원 리스트를 복사해봅시다.
# 리스트 안에 리스트를 추가하면 리스트 자체가 아닌 리스트 주소정보가 저장된다.
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3
print(a, b)

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [9]:
a = [1, 2, [1, 2]]
b = a[:]
b[2] = [0, 3] # 새로운 주소로 저장함
print(a, b)

[1, 2, [1, 2]] [1, 2, [0, 3]]

In [ ]:
# 얕은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [1]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a, b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [ ]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

In [2]:
map(int, [1, 2])

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [3]:
# clear를 사용해봅시다.
a = [1, 2, 3]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [8]:
numbers = range(1,11)

In [9]:
# 기존의방법
# 결과를 담을 통
cubic_list = []
# 숫자 범위를 반복
for number in numbers:
    cubic_list.append(number**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
# List Comprehension
[number**3 for number in numbers]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [17]:
numbers = range(1,11)

In [18]:
# 기존의방법
even_list = []
for number in numbers:
    if not number % 2:
        even_list.append(number)
print(even_list)

[2, 4, 6, 8, 10]

In [19]:
# List Comprehension
# else 사용불가 : 필터처리만 해주기 때문에
[number for number in numbers if not number % 2]

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [21]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [24]:
# 반복문을 활용하여 만들어주세요.
result = []
for gname in girls:
    for bname in boys:
        result.append((gname, bname))
print(result)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

In [25]:
# List comprehension을 활용하여 만들어주세요.
[(girl_name, boy_name) for girl_name in girls for boy_name in boys]

[('jane', 'justin'),
 ('jane', 'david'),
 ('jane', 'kim'),
 ('iu', 'justin'),
 ('iu', 'david'),
 ('iu', 'kim'),
 ('mary', 'justin'),
 ('mary', 'david'),
 ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [34]:
# 반복문을 활용하여 만들어주세요.
result = []
for z in range(1, 50):
    for y in range(1, z):
        for x in range(1, y):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
print(sorted(result))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [37]:
# List comprehension을 활용하여 만들어주세요.
sorted([(x, y, z) for z in range(1, 50) for y in range(1, z) for x in range(1, y) if x**2 + y**2 == z**2])

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [56]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
''.join([word for word in words if word not in 'aeiou'])

'Lf s t shrt, y nd pythn!'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [10]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [11]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [12]:
my_dict.pop('apple')

'사과'

In [13]:
print(my_dict)

{'banana': '바나나'}

In [14]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', False)

0

In [15]:
my_dict.pop('banana', False)

'바나나'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.   
새로운 값을 입력할 때는 추가해 주지만, 기존의 값을 입력해주면 바꿔지므로 주의해야한다.

In [16]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [18]:
my_dict.update(apple='사과야')
print(my_dict)

{'apple': '사과야', 'banana': '바나나', 'melon': '멜론'}

In [20]:
my_dict.update({'banana': '바나나야'})

In [21]:
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론'}

In [22]:
my_dict.update(grape='포도')

In [23]:
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론', 'grape': '포도'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [24]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [25]:
print(my_dict.get('pineapple'))

None

.pop과 동일하게 default 값을 정해줄 수 있다.

In [26]:
my_dict.get('pineapple', False)

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [27]:
# dictionary comprehension
[x**3 for x in range(1, 5)]

[1, 8, 27, 64]

dictionary에서도 같은 방법으로 활용할 수 있다.  
이때 key: value 값을 모두 표시해줘야한다.

In [28]:
{x: x**3 for x in range(1, 5)}

{1: 1, 2: 8, 3: 27, 4: 64}

In [31]:
result = {}
for x in range(1, 5):
    result[x] = x**3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64}

In [29]:
{char: 0 for char in 'abcdef'}

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0}

In [30]:
result = {}
for char in 'abcd':
    result[char] = 0
print(result)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

### dictionary comprehension 사용해보기

In [33]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [39]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
{key: value for key, value in dusts.items() if value > 80}

{'대전': 82, '중국': 200}

In [45]:
{key: value for key, value in dusts.items() if value > 80} # if를 뒤에 붙이는건 필터역할
{key: value if value > 80 else '보통' for key, value in dusts.items()} # 앞에 붙여주면 for문 안에 if문이 들어간 것과 같음(조건표현식)

{'서울': '보통', '대전': 82, '구미': '보통', '광주': '보통', '중국': 200}

In [44]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
{key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [46]:
# elif처럼 사용할 수 있습니다.
{key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [47]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}

In [48]:
a.add('파인애플')
print(a)
a.add('멜론')
print(a)

{'사과', '수박', '바나나', '파인애플'}
{'사과', '멜론', '수박', '바나나', '파인애플'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [50]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토', '딸기')
print(a)

{'사과', '기', '수박', '토', '딸', '마', '바나나'}

In [51]:
# tuple, list, set으로 묶어주어야 우리가 원하는대로 들어감
a = {"사과", "바나나", "수박"}
a.update(('토마토', '딸기'))
print(a)

{'사과', '수박', '바나나', '딸기', '토마토'}

In [53]:
# (*others)라고 되어있으므로 여러 값들을 넣어줄 수도 있다. 이때도 반드시 tuple, list, set 형태로 넣어주어야 한다.
a = {"사과", "바나나", "수박"}
a.update(('토마토', ), ('딸기', ))
print(a)

{'사과', '수박', '바나나', '딸기', '토마토'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [54]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')
print(a)

{'수박', '바나나'}

In [55]:
a.remove('파인애플')

KeyError: '파인애플'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [56]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('파인애플')
# a.discard('파인애플', 0)은 사용 불가

.[key]: 오류o  
get(key)오류x  
remove오류o  
discard오류x

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [60]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [66]:
result = []
for elem in a:
    result.append(elem)
print(result)

['1', '2', '3']

In [58]:
# list comprehension
[str(elem) for elem in a]

['1', '2', '3']

In [62]:
''.join([str(elem) for elem in a])

'123'

In [64]:
map(str, a)

In [65]:
''.join(map(str, a))

'123'

In [67]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
b, c, d = map(int, a)
print(b, c, d)

1 2 3

In [71]:
numbers = list(map(int, a))

In [69]:
# list comprehension
[int(elem) for elem in a]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.  
    내가 만든 함수도 적용가능

In [70]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [72]:
[cube(elem) for elem in numbers]

[1, 8, 27]

일등 함수(first-class citizen)  
파이썬에서는 함수 자체도 객체이므로 함수 자체를 변수로 저장하거나 리턴할 수 있다.

In [73]:
# 함수를 함수의 인자로 넘겨줄 수 있다.
list(map(cube, numbers))

[1, 8, 27]

In [76]:
# 함수를 변수에 저장할 수 있다.
my_sum = sum

In [75]:
my_sum([1, 2, 3])

6

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [78]:
# 예시를 봅시다.
# 각 자리의 원소들을 하나로 묶어주는 방법
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [79]:
result = []
for idx_girl, girl in enumerate(girls):
    for idx_boy, boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append([girl, boy])
print(result)

[['jane', 'justin'], ['iu', 'david'], ['mary', 'kim']]

In [80]:
result = []
for girl, boy in zip(girls, boys):
    result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [81]:
# 길이가 같을 경우 묶어준다.
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [83]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [84]:
# 튜플이 묶여진 리스트
x, y = 1, 2 #=> x, y = (1, 2)와 똑같다.
print(x, y)

1 2

* 아래와 같이 사용가능하다.

In [85]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [87]:
# 길이가 다를 경우 짧은 것을 기준으로 default
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [88]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [89]:
def even(n):
    return not n%2

In [90]:
list(filter(even, range(1, 10)))

[2, 4, 6, 8]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [91]:
[num for num in range(1,10) if even(num)]

[2, 4, 6, 8]